main{
    font-family: "Comic Sans MS", cursive, sans-serif;
    display:grid;
    grid-template-areas:"left right";
    grid-template-columns: 1fr 3fr;
}

body{   
    background-color: black;
    background-size: cover;
    background-position: center;
}
hr{
    border-top: 1.5px solid black;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
.left_side{ grid-area: left;}
#cat {
    object-fit: cover;
    border: 5px solid;
    border-color: black;
    border-radius: 20px;
    width: 97.5%;
    height: auto;
    margin-top: 1px;
    
}
.name_and_shit{
    background-color: rgb(221, 220, 220);
    margin-top: 3px;
    border: 5px solid;
    border-color: black;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
}
.skills{
    background-color: rgb(221, 220, 220);
    margin-top: 3px;
    text-align: center;
    line-height: 20px;
    border: 5px solid;
    border-color: black;
    border-radius: 20px;
}
.contacts{
    background-color: rgb(221, 220, 220);
    margin-top: 3px;
    text-align: center;
    line-height: 50px;
    border: 5px solid;
    border-color: black;
    border-radius: 20px;
}
.right_side{
    grid-area: right;
    background-color: rgb(221, 220, 220);
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 1px}
.about_me_title{
    margin-left: 50px;
    margin-top: 40px;
}
.about_me_text{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    border-bottom: 1.5px solid black;
}
.experience_title{
    margin-left: 50px;
    margin-top: 20px;
}
.experience_text{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    border-bottom: 1.5px solid black;
}
.hobbies_title{
    margin-left: 50px;
    margin-top: 20px;
}
.hobbies_pics{
    display: flex;
    flex-direction: column;
}
#joystick {
    border: 3px solid;
    border-color: black;
    border-radius: 20px;
    width: 20%;
    max-height: 350px;
    margin-left: 9%;
    margin-top: 35px;
}
#joystick2 {
    border: 3px solid;
    border-color: black;
    border-radius: 20px;
    width: 20%;
    max-height: 350px;
    margin-left: 9%;
    margin-top: 35px;
}
#joystick3 {
    border: 3px solid;
    border-color: black;
    border-radius: 20px;
    width: 20%;
    max-height: 350px;
    margin-left: 9%;
    margin-top: 35px;
}
@media screen and (max-width: 700px) {
    main{
        display: flex;
        flex-direction: column;
    }
    #joystick{
        width: 70%;
        max-height: 300px;
        margin-left: 15%;
        margin-top: 35px;
    }
    #joystick2{
        width: 70%;
        max-height: 300px;
        margin-left: 15%;
        margin-top: 35px;
    }
    #joystick3{
        width: 70%;
        max-height: 300px;
        margin-left: 15%;
        margin-top: 35px;
        margin-bottom: 35px;
    }


}



