body {
  background: linear-gradient(to right top, rgba(88, 168, 252), rgb(125, 237, 237));
}

.Bar1 {
  display: flex;
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 183, 101), rgba(255, 222, 114));
  height: 15%;
  width: 88.5%;
  position:absolute;
  top: 5.8%;
  left: 5.75%;
  border-radius: 15px;
  align-items: center;
  justify-content: space-evenly;
}
.HomeButton1 {
  margin-left: 10px;
  max-height: 8%;
  max-width: 8%;
  min-width: 80px;
  min-height: auto;
}
.HomeButton1:hover {
  max-height: 10%;
  max-width: 10%;
  min-width: 100px;
  min-height: auto;
}
.One {
  display: flex;
  background-color: rgb(60, 251, 57);
  border: 20px solid rgb(60, 251, 57);
  border-radius: 25px;
  margin-right: 10px;
  justify-content: space-evenly;
}
.One:hover {
  display: flex;
  background-color: rgb(199, 252, 138);
  border: 20px solid rgb(199, 252, 138);
  border-radius: 25px;
  margin-right: 10px;
  justify-content: space-evenly;
}
