{% extends "base.html" %}

{% block title %}Edit Note{% endblock %}

{% block content %}
      <h1 class="main-title">Edit Note</h1>
        <form method="post">
          {{ form.csrf_token }}
          <label>Title:</label>
          {{ form.title }}
          {% for error in form.title.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
          <label>Content:</label>
          {{ form.content }}
          {% for error in form.content.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
          <label>Category:</label>
          <div class="dropdown">
            {{ form.category }}
            {% for error in form.category.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          </div>
          <button type="submit">{{ form.submit.label.text }}</button>
        </form>
{% endblock %}