<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Title</title>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      {% if not session.logged_in %}
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {% else %}
      <li><a href="{{ url_for('group') }}">Groups</a></li>
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      {% endif %}
    </ul>
  </nav>
  <div class="content-wrapper">
    <div class="container">
      <h1 class="main-title">{{ group.name }}</h1>
      <form method="post" class="form-container">
        <h3>Add Check</h3>
          {{ form.csrf_token }}
          <p>
            {{ form.name.label }}<br>
            {{ form.name }}<br>
          </p>
          <p>
            {{ form.amount.label }}<br>
            {{ form.amount(type='number') }}<br>
          </p>          
          <button type="submit">Post</button>
        <h3>Checks:</h3>
        {% if checks %}
          <ul>
          {% for check in checks %}
            <li class="check">{{ check.name }} - {{ check.amount }}</li>
          {% endfor %}
          </ul>
        {% else %}
          <p>No checks found.</p>
        {% endif %}
      </form>
    </div>
  </div>
  <footer>
    <p> About us, Contact us, Avoid us, Dont press this</p>
  </footer>
</body>
</html>
