<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Title</title>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      {% if not session.logged_in %}
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {% else %}
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      {% endif %}
    </ul>
  </nav>
  <div class="content-wrapper">
    <div class="container">
      <h1 class="main-title">Log in</h1>
      <form method="post">
        {{ form.csrf_token }}
        <label>Username:</label>
        {{ form.username }}
        {% for error in form.username.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
        <label>Password:</label>
        {{ form.password }}
        {% if form.password.errors %}
          <div class="custom-error">
            {% for error in form.password.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
  <footer>
    <p> About us, Contact us, Avoid us, Dont click here</p>
  </footer>
</body>
</html>
